<% extend('../html_layout') %>
  <div class="container">
    <h1 class="text-center mt-3 mb-3">Please Create Your Bug</h1>
    <div class="card">
      <div class="card-header">Bug Created Successfully!!</div>
      <div class="card-body">
        For Adding New Bug <b><a href="/user/add-bug">Click Here</a></div></b>
    </div>
  </div>
  </div>