<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .btn-primary {
      color: #fff !important;
      background-color: #0d6efd !important;
      border-color: #0d6efd !important;
    }

    .badge-in-progress {
      background-color: #d6f0e0;
      color: #0d6832;
    }

    .badge-dispatched {
      background-color: #fbf0da;
      color: #73510d;
    }

    .badge-delivered {
      background-color: #dfe7f6;
      color: #2c58a0;
    }
  </style>
</head>

<body>
  <main><%- content %></main>
</body>

</html>