<% extend('../html_layout') %>
  <div class="container">
    <h1 class="text-center mt-3 mb-3">No Orders To be displayed</h1>
    <div class="card">
      <div class="card-header">There was some issue while displaying the order list!!</div>
      <div class="card-body">
        Please try after sometime
      </div>
    </div>
  </div>
  </div>