<% extend('../html_layout') %>
  <div class="container mt-4">
    <div class="card" style="width: 18rem;">
      <div class="card-header">Shopping Cart - Register Form</div>
      <div class="card-body">
        <% if(message && message.error){ %>
          <div class="alert alert-danger mt-4">
            <%= message.error %>
          </div>
          <% } %>
            <form action="/user/register" method="POST">
              <div class="mb-3">
                <label for="name-reg" class="form-label">Name</label>
                <input type="text" class="form-control" id="name-reg" name="name">
              </div>
              <div class="mb-3">
                <label for="email-reg" class="form-label">Email</label>
                <input type="text" class="form-control" id="email-reg" name="email">
              </div>
              <div class="mb-3">
                <label for="password-reg" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-reg" name="password">
              </div>
              <div class="mb-3">
                <label for="password-conf-reg" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password-conf-reg" name="confirm_password">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            For Login <b><a href="/user/login">Click Here</a></b>
      </div>
    </div>
  </div>