<% extend('../html_layout') %>
  <div class="container">
    <h1 class="text-center mt-3 mb-3">User Registration Succefull</h1>
    <div class="card">
      <div class="card-header">You have registered Successfully!!</div>
      <div class="card-body">
        For Login <b><a href="/user/login">Click Here</a></div></b>
    </div>
  </div>
  </div>