<% extend('../html_layout') %>
  <div class="container">
    <h1 class="text-center mt-3 mb-3">Please Place Your Order</h1>
    <div class="card">
      <div class="card-header">Order Placed Successfully!!</div>
      <div class="card-body">
        For Placing New Order <b><a href="/user/add-order">Click Here</a></div></b>
    </div>
  </div>
  </div>