body {
  height: 100vh;
  background: linear-gradient(#2A00B7, #42006c);
}

.main-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background-color: #f8f9fd;
  padding-bottom: 30px;
  width: 58%;
  min-height: 500px;
}

.anonymous-user-container .tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  width: 43%;
  padding-bottom: 12px;
  font-size: 20px;
  border-bottom-width: 4px;
  color: #888;
  border: 2px solid #ddd;
  background-color: #e9ebee;
  border-top: 4px solid #e9ebee;
  cursor: pointer;
}

.anonymous-user-container .active-tab {
  color: #555;
  border-top: 4px solid #0f9d58;
  border-bottom: 3px solid #fff;
  background-color: #fff;
}

.hide-element {
  display: none !important;
}

.header-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 480px;
}

.error,
.success {
  font-size: 12px;
  font-weight: bold;
}

.error {
  color: red;
}

.success {
  color: green;
}

.section-wrapper {
  margin-top: 25px;
}

.header,
.inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
}

.text {
  color: #3c009d;
  font-size: 40px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}


.inputs,
.inner-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.inputs {
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 60px;
  background: #eaeaea;
  border-radius: 5px;
  margin-top: 6px;
}

.input-textarea {
  height: 90px;
}

.input img {
  margin: 0px 30px;
}

.input input,
.input textarea {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.input textarea {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.submit-button {
  width: 220px;
  height: 59px;
  color: #ffff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.admin-container {
  margin-top: 15px;
}

.admin-container .input {
  padding-left: 10px;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 95%;
}